{% extends 'base.html.twig' %}
    {% block content %}

        <h1>Recherche Evenement par titre</h1>
        {{ form(form) }}

        <table border="1">
            <tr>
                <td>descriptionEvent</td>
                <td>imageEvent</td>
                <td>titreEvent</td>
                <td>dateEvent</td>
                <td>prixEvent</td>
                <td>salleEvent</td>
                <td>idcategorie</td>

            </tr>
            {% for entity in e   %}
                <tr>
                    <td>{{ entity.descriptionEvent }}</td>
                    <td>{{ entity.imageEvent }}</td>
                    <td>{{ entity.titreEvent }}</td>
                    <td>{{ entity.dateEvent|date }}</td>
                    <td>{{ entity.prixEvent }}</td>
                    <td>{{ entity.salleEvent }}</td>
                    <td>{{ entity.idcategorie.typecategorie }}</td>
                </tr>
            {% endfor %}
        </table>
        <td> <a href="{{ path('EventsCreate') }}"><button>Add</button></a> </td>
    {% endblock %}
