{% extends 'base.html.twig' %}
    {% block content %}
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Type</td>
                        <td>Dte</td>
                        <td>Cost</td>
                        <td>Room</td>
                        <td>Image</td>
                        <td>Participents</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in e   %}
                        <tr>
                            <td>{{ entity.titreEvent }}</td>
                            <td>{{ entity.descriptionEvent}}</td>
                            <td>{{ entity.idcategorie.typecategorie }}</td>
                            <td><span class="badge badge-success">{{ entity.dateEvent|date }}</span></td>
                            <td><span class="badge badge-success">{{ entity.prixEvent}}</td>
                            <td>{{ entity.salleEvent}}</td>
                            <td>{{ entity.image}}</td>
                            <td><span class="badge badge-success">{{ entity.nbre}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            {{ form(form) }}
    {% endblock %}