{% extends 'base.html.twig' %}

    {% block content %}

        <div class="input-container">
            <i class="fa fa-search"></i>
            <input type="search"  id="searsh" onkeyup="myFunction()" class="form-control-sm boxed"><br><br><br><br>
            <div class="underline"></div>
        </div><br><br><br><br>

        <div class="card-body p-0">
            <div table class="table table table-hover" id="contenu" >
                <table class="table m-0" >
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Cost</td>
                        <td>Date</td>
                        <td>Image</td>
                        <td>Length</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in f   %}
                        <tr>
                            <td>{{ entity.titreFoire }}</td>
                            <td>{{ entity.descriptionFoire }}</td>
                            <td>{{ entity.prixFoire }}</td>
                            <td>{{ entity.dateFoire |date}}</td>
                            <td>{{ entity.image }}</td>
                            <td>{{ entity.idStand  .taille }}</td>

                            <td><a href="{{ path('FoireDelete',{'id':entity.idFoire}) }}" class="btn btn-sm btn-secondary float-right">Delete</a></td>
                            <td> <a href="{{ path('FoireUpdate',{'id':entity.idFoire}) }}" class="btn btn-sm btn-secondary float-right">Update</a> </td>
                        </tr>



                    {% endfor %}
                    </tbody>
                </table>
                <script src="{{ asset('jquery-3.1.1.js') }}"></script>
                <script>
                    function myFunction() {
                        var input, filter, table, tr, td, i, txtValue;
                        input = document.getElementById("searsh");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("contenu");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[1];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                </script>


                <td> <a href="{{ path('FoireCreate') }}" class="btn btn-sm btn-secondary float-right">Add</a> </td>
            </div>
        </div>

















    {% endblock %}


