{% extends 'base3.html.twig' %}


{% block body %}

    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Speakers</h2>
            <hr class="divider my-4">

            {% for entity in speak   %}
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Speakers :</h3>
                        <h3 class="h4 mb-2">{{ entity.nomspeaker }}</h3>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('web_viewSUD',{'idspeaker':entity.idspeaker}) }}">View Details</a>
                        <p class="text-muted mb-0"></p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </section>


    {#<table border="1">
    <tr>
        <td>Titre Conference</td>
        <td>Description Conference</td>
        <td>Date Conference</td>
        <td>Numero Salle</td>
        <td>Nom Speaker</td>

    </tr>
    {% for entity in conf  %}
        <tr>
            <td>{{ entity.titreconference}}</td>
            <td>{{ entity.descriptionconference }}</td>
            <td>{{ entity.dateconference|date}}</td>
            <td>{{ entity.idsalle.numsalle}}</td>
            <td>{{ entity.idspeaker.nomspeaker}}</td>
            <td> <a href="{{ path('delete',{'id':entity.idconference}) }}"><button>delete</button></a> </td>
            <td> <a href="{{ path('update',{'id':entity.idconference}) }}"><button>Update</button></a> </td>
        </tr>
    {% endfor %}
</table>
    <td> <a href="{{ path('web_ajout') }}"><button>create</button></a> </td>#}
{% endblock %}