{% extends 'base.html.twig' %}
    {% block content %}
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <td>idStand</td>
                        <td>titreStand</td>
                        <td>proprietaireStand</td>
                        <td>typeMarchandise</td>
                        <td>taille</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in s   %}
                        <tr>
                            <td>{{ entity.idStand }}</td>
                            <td>{{ entity.titreStand }}</td>
                            <td>{{ entity.proprietaireStand }}</td>
                            <td>{{ entity.typeMarchandise }}</td>
                            <td>{{ entity.taille }}</td>
                            <td><a href="{{ path('StandDelete',{'id':entity.idStand}) }}" class="btn btn-sm btn-secondary float-right">Delete</a></td>
                            <td><a href="{{ path('StandUpdate',{'id':entity.idStand}) }}" class="btn btn-sm btn-secondary float-right">Update</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <td> <a href="{{ path('StandCreate') }}" class="btn btn-sm btn-secondary float-right">Add event</a> </td>
            </div>
        </div>
    {% endblock %}





