
{% extends 'baseU.html.twig' %}
    {% block body %}
        <div class="card-body p-0">
        {% for entity in conf   %}
            <div class="table-responsive">

                <center><h3>{{ entity.titreconference }}</h3></center><br><br>
                <table class="table m-0">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img width="200px" height="200px" src="{{ asset('uploads/images/'~ entity.image) }}" alt="Image not found"></td>
                        <td>Description: {{ entity.descriptionconference }}</td>
                        <td>Speaker: {{ entity.idspeaker.nomspeaker }}</td>
                    </tr>
                    <tr>
                        <td>Date: {{ entity.dateconference|date }}</td>
                        <td>Room: {{ entity.idsalle.numsalle }}</td>
                        <td>Places Left: {{ entity.nbrf }}</td>
                    </tr>
                    </tbody>
                </table><br><br><br>
            </div>                </div>
        {% endfor %}
        </div>
    {% endblock %}









