
        {% extends 'base.html.twig' %}
        {% block content %}
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <td>Title</td>
                            <td>Description</td>
                            <td>Date</td>
                            <td>Room Number</td>
                            <td>Speaker Name</td>
                            <td>Participents</td>
                            <td>image</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in conf   %}
                            <tr>
                                <td>{{ entity.titreconference}}</td>
                                <td>{{ entity.descriptionconference }}</td>
                                <td>{{ entity.dateconference|date}}</td>
                                <td><span class="badge badge-success">{{ entity.idsalle.numsalle }}</span></td>
                                <td><span class="badge badge-success">{{ entity.idspeaker.nomspeaker}}</span></td>
                                <td><span class="badge badge-success">{{ entity.nbrf}}</span></td>
                                <td>{{ entity.image}}</span></td>
                                <td><a href="{{ path('delete',{'id':entity.idconference}) }}" class="btn btn-sm btn-secondary float-right">Delete</a></td>
                                <td><a href="{{ path('update',{'id':entity.idconference}) }}" class="btn btn-sm btn-secondary float-right">Update</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <center><a href="{{ path('web_ajout') }}" class="btn btn-sm btn-secondary float-right">create</a></center>
                </div>
            </div>
        {% endblock %}


