{% extends 'baseU.html.twig' %}
    {% block body %}
        <div class="card-body p-0">
            {% for entity in formations   %}
                <div class="table-responsive">

                    <center><h3>Formator: {{ entity.formateurformation }}</h3></center><br><br>
                    <table class="table m-0">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Class: {{ entity.classeformation }}</td>

                            <td>Date: {{ entity.DateFormation|date }}</td>
                            <td>Type: {{ entity.typeformation }}</td>
                        </tr>
                        <tr>
                            <td>Room: {{ entity.idSalle.idSalle }}</td>
                            <td>Places Left: {{ entity.prixformation }}</td>
                        </tr>
                        </tbody>
                    </table><br><br><br></div>
            {% endfor %}
        </div>





    {% endblock %}











