{% extends 'baseM.html.twig' %}
    {% block body %}
        <div class="card-body p-0">
            {% for entity in formations   %}
                <div class="table-responsive">

                    <center><h3>Formator: {{ entity.formateurformation }}</h3></center><br><br>
                    <table class="table m-0">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Class: {{ entity.classeformation }}</td>

                            <td>Date: {{ entity.DateFormation|date }}</td>
                            <td>Type: {{ entity.typeformation }}</td>
                        </tr>
                        <tr>
                            <td>Room: {{ entity.idSalle.idSalle }}</td>
                            <td>Places Left: {{ entity.prixformation }}</td>
                        </tr>
                        </tbody>
                    </table><br><br><br>
                    <center><a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('Formation_inscri',{'idform':entity.idformation,'iduser':app.user.id}) }}">Inscrire</a></center>
                </div>
            {% endfor %}
        </div>

        {% for entity in formations   %}
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                            <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('Formation_inscri',{'idform':entity.idformation,'iduser':app.user.id}) }}">Inscrire</a>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}



    {% endblock %}







