{% extends 'baseM.html.twig' %}

    {% block body %}


        <section class="page-section" id="services">
            <div class="container">
                {% for entity in formations   %}


                    <div class="container">
                        <div class="row justify-content-center text-center float-center" >
                            <div class="col-md-7 mb-5">
                                <h3 class="h4 mb-2">Formator: {{ entity.formateurformation }}</h3>
                            </div>
                            <div class="row mt-5">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center text-center float-right" >
                            <div class="col-md-7 mb-5">
                                <h3 class="h4 mb-2">Class: {{ entity.classeformation }}</h3>
                            </div>
                            <div class="row mt-5">
                            </div>
                        </div>
                    </div>

                </div><br><br><br><br><br>




                <div class="container">
                    <div class="row justify-content-center text-center float-center" >
                        <div class="col-md-7 mb-5">
                            <h3 class="h4 mb-2">Date: {{ entity.DateFormation|date }}</h3>
                        </div>
                        <div class="row mt-5">
                        </div>
                    </div>
                </div><br><br><br><br><br>

                <div class="container">
                    <div class="row justify-content-left text-center float-left" >
                        <div class="col-md-7 mb-5">
                            <h3 class="h4 mb-2">Type: {{ entity.typeformation }}$</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center float-center" >
                        <div class="col-md-7 mb-5">
                            <h3 class="h4 mb-2">Room: {{ entity.idSalle.idSalle }}</h3>
                        </div>
                    </div>
                    <div class="row justify-content-right text-center float-right" >
                        <div class="col-md-7 mb-5">
                            <h3 class="h4 mb-2">Places Left: {{ entity.prixformation }}</h3>
                        </div>
                    </div>
                </div><br><br><br><br><br>
            </div>
            <center><a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('Formation_inscri',{'idform':entity.idformation,'iduser':app.user.id}) }}" data-toggle="modal" data-target="#exampleModal">Inscrire</a></center>
            </div>
            </div>
            {% endfor %}
            </div>


            {% for entity in formations   %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('Formation_inscri',{'idform':entity.idformation,'iduser':app.user.id}) }}">Inscrire</a>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endblock %}



